<div class="tag-post-list-wrapper">
    <div class="tag-post-list-header">
        Tag: <%- page.tag; %>
    </div>
    <div class="tag-post-list-content">
        <%- partial("_partial/post-list.ejs", { isTagPage: true }); %>
    </div>
</div>
